html, body {height: 100%;}

$bde-blue: #55acee;
$post-color: #B0B0B0;
$post-info-color: #888888;
$grey : #cccccc;
$grey-text: #B0B0B0;

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear:both;
}
.footer{
	background: #EAEAEA;
	padding: 1% 0;
	font-size: rem-calc(14);
}
.footer-list{
	list-style: none;
	color: $grey-text;
	margin: 0;
	padding: 0;
}
.footer-list a{
	color: $grey-text;
}

.container {
	margin: 1.5em auto;
	padding-bottom: 1em;
}
.main-nav{
	margin-top: 1em;
}



.space-below{
	padding-bottom: 2em;
}

.post{
	overflow: hidden;
	margin-bottom: 2em;
	padding-bottom: 1em;
}
.post-line{
	border-bottom: 1px solid $grey;
}
.post-title{
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	font-family: 'Oxygen', sans-serif;
	margin-bottom: 1em;
}
.post-title h1{
	font-size: rem-calc(24);
}
.post-title h1 a{
	color: inherit;
}
.post-info{
	/*padding: 1.6% 0;*/
	line-height: 20px;
	font-size: rem-calc(14);
	color: $post-info-color;
	line-height: 20px;
	margin-bottom: 1em;
}
.featured{
	background-color: #444;
	color: #fff;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	padding: 1em 1.5em;
	overflow: hidden;
	margin-bottom: 1.5em;
}
.post-content{
	padding: 1em 0 1em 0;
	color: #888;
}
.post-content p{
	color: $post-color;
	font-size: rem-calc(14);
}
.icon_post{
	width: 20px;
	height: 20px;
	overflow: hidden;
}
.icon-post{
	margin-right: 1em;
	margin-left: 1.2em;
}
.icon-author{
	margin-left: 0;
}
.post-download{
	background: $bde-blue;
	text-align: center;
	padding: 1.5em 1em;
	color: #fff;
}
.post-download:hover{
	background: lighten($bde-blue, 10%);
}

.tbox{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: 'Oxygen', sans-serif;
}

.nbox{
	padding-top: 0.8em;
	padding-bottom: 1em;
	color: #888;
}	

.cbox{
	padding-top: 0.5em;
	padding-bottom: 2em;
	color: #888;
}

.contain-to-grid{
	border-bottom: 0.1em solid #ccc;
	
}

.sm-icons{
	padding-top: 0.5em;
	float: right;
}

.fullwidth{
	width: 100%;
}
.blue-bar{
	background: $primary-color;
	min-height: 70px;
	height: 9%;
	margin-bottom: 3em;
}
.main-logo{
	padding-top: 1em;
	position: absolute;
	z-index: 10;
}
.more-box{
	padding: 1% 0;
	border-bottom: 1px solid #D3D3D3;
	display: none;
}
.more-box ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.more-box ul li{
	
}
.more-box ul li a{
	font-size: 0.9em;
}
.rssfeed{
	margin: 1em 0;
}
.rssfeed ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.rssfeed ul li{
	border-bottom: 1px solid lighten($bde-blue, 20%);
	padding: 1em 0;
}
.rssfeed a{
	color: $grey-text;
	font-size: rem-calc(14);
}
.rss-icon{
	margin-left: 0.3em;
}
.sm-icons{
 padding-top: 0.5em;
 float: right;
}
.fp-small{
	width: 100%;
}
.fp-square{
	width: 48%;
	height: 48%;
}
.fp-s1{
	margin: 0;
	margin-right: 0.5%;
	margin-bottom: 1%;
}
.fp-s2{
	margin: 0;
	margin-left: 0.5%;
	margin-bottom: 1%;
}
.fp-s3{
	margin: 0;
	margin-right: 0.5%;
	margin-top: 1%;
}
.fp-s4{
	margin: 0;
	margin-left: 0.5%;
	margin-top: 1%;
}
.main-menu li:hover{
	border-bottom: 3px solid $bde-blue;
}
.search-button{
	height: 1em;
}
.search-input{
	font-size: rem-calc(30) !important;
	height: 100%;
}
.share-row{
	padding-top: 1em;
	border-top: 1px solid $grey; 
	border-bottom: 1px solid $grey; 
}
.social-icons{
	width: 100%;
	overflow: hidden;
    white-space: nowrap;
}
.social-icons li:before{
	content: "";
    display: block;
	background-image: url("../img/social-icons.png");
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	margin: 0 10px 0 0;
	float: left;
}
.social-icons li.facebook:before{
	background-position: -20px 0;
}
.social-icons li.twitter:before{
	background-position: 0 0;
}
.social-icons a{
	color: $grey-text;
}
.social-icons li{
	margin-left: 60px;
}
.social-icons li:first-child{
	margin-left: 20px;
}
.head404{
	font-size: rem-calc(72);
	text-align: center;
	margin-top: 2em; 
}
